<main>
  <section id="section-banners" class="container">

    <div id="carouselExampleIndicators" class="carousel slide">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/banner.1.jpg" class="d-block w-100" alt="fliperama">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/banner.2.jpg" class="d-block w-100" alt="classico-game boy">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/banner.3.jpg" class="d-block w-100" alt="setup-game">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </section>

  <section id="section-mais-vendidos" class="container">
    <h2>MAIS VENDIDOS:</h2>
    <div id="section-mais-vendidos-cards">

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/prod1.fw.png" class="card-img-top" alt="notebook asus">
        <div class="card-body">
          <h5 class="card-title">Notebook Asus</h5>
          <p class="card-text">Notebook ASUS X515JA-BR2750 Intel Core i3 1005G1 4GB 256GB SSD Linux 15,6" LED-backlit
            Cinza. <br><br><b>R$ 2.159,10</b></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/prod2.fw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Monitor Gamer Samsung</h5>
          <p class="card-text">Monitor Gamer Samsung 24" FHD,75Hz, HDMI, VGA,Freesync, Preto, Série T350. <br><br><b>R$
              2.159,10</b></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/prod3.fw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Volante Gamer</h5>
          <p class="card-text">Volante Logitech G29 Driving Force para PS5, PS4, PS3 e PC. <br> <br><b>R$ 2.159,10</b>
          </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/prod4.fw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cadeira Gamer</h5>
          <p class="card-text">SCadeira Gamer Xperience Skilled Off White, Base Giratória e Sistema de Inclinação
            Avançado. <br><br> <b>R$ 2.159,10</b></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/prod5.fw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Console Xbox Series</h5>
          <p class="card-text">Console Xbox Series S 512GB SSD. <br><br> <b>R$ 2.159,10</b></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/prod6.fw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Console Xbox Series</h5>
          <p class="card-text">Console Xbox Series S 512GB SSD. <br><br><b>R$ 2.159,10</b></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/prod7.fw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Console Xbox Series</h5>
          <p class="card-text">Console Xbox Series S 512GB SSD. <br><br><b>R$ 2.159,10</b></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/prod8.fw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Console Xbox Series</h5>
          <p class="card-text">Console Xbox Series S 512GB SSD. <br><br><b>R$ 2.159,10</b></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

  </section>

</main>